In [1]:
import pandas as pd
from datetime import date
import numpy as np


df = pd.read_excel("~/Downloads/mkt_data.xlsx", index_col="Date", parse_dates=True).sort_index(ascending=True)

df.head()

              US10Y      SPX  CDXIG5Y    WTI  UMBS30OAS
Date
2015-03-02  2.08025  2117.39  67.4592  49.61     6.3438
2015-03-03  2.12244  2107.78  67.3811  50.32     6.9726
2015-03-04  2.12070  2098.53  67.3924  51.48     6.9688
2015-03-05  2.10841  2101.04  66.9493  50.92     8.1789
2015-03-06  2.23782  2071.26  67.2937  49.31     7.4642

In [2]:
df["d_US10Y"] = df["US10Y"].diff()*100
df["d_SPX"] = df["SPX"].pct_change()*100
df["d_CDXIG5Y"] = df["CDXIG5Y"].diff()
df["d_WTI"] = df["WTI"].pct_change()*100
df["d_UMBS30OAS"] = df["UMBS30OAS"].diff()

df.head(10)

/tmp/ipykernel_3948/1416083432.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["d_SPX"] = df["SPX"].pct_change()*100
/tmp/ipykernel_3948/1416083432.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df["d_WTI"] = df["WTI"].pct_change()*100

,US10Y,SPX,CDXIG5Y,WTI,UMBS30OAS,d_US10Y,d_SPX,d_CDXIG5Y,d_WTI,d_UMBS30OAS
Date,,,,,,,,,,
2015-03-02,2.08025,2117.39,67.4592,49.61,6.3438,NaN,NaN,NaN,NaN,NaN
2015-03-03,2.12244,2107.78,67.3811,50.32,6.9726,4.219,-0.453861,-0.0781,1.431163,0.6288
2015-03-04,2.12070,2098.53,67.3924,51.48,6.9688,-0.174,-0.438850,0.0113,2.305246,-0.0038
2015-03-05,2.10841,2101.04,66.9493,50.92,8.1789,-1.229,0.119608,-0.4431,-1.087801,1.2101
2015-03-06,2.23782,2071.26,67.2937,49.31,7.4642,12.941,-1.417393,0.3444,-3.161822,-0.7147
2015-03-09,2.19516,2079.43,67.5451,50.11,9.6079,-4.266,0.394446,0.2514,1.622389,2.1437
2015-03-10,2.12616,2044.16,69.1681,48.23,10.3522,-6.900,-1.696138,1.6230,-3.751746,0.7443
2015-03-11,2.11032,2040.24,68.9697,48.29,9.3972,-1.584,-0.191766,-0.1984,0.124404,-0.9550
2015-03-12,2.09626,2065.95,68.5756,47.07,9.0582,-1.406,1.260146,-0.3941,-2.526403,-0.3390
2015-03-13,2.11219,2053.40,69.7334,45.07,9.0022,1.593,-0.607469,1.1578,-4.248991,-0.0560

In [3]:
df.index

DatetimeIndex(['2015-03-02', '2015-03-03', '2015-03-04', '2015-03-05',
               '2015-03-06', '2015-03-09', '2015-03-10', '2015-03-11',
               '2015-03-12', '2015-03-13',
               ...
               '2025-02-18', '2025-02-19', '2025-02-20', '2025-02-21',
               '2025-02-24', '2025-02-25', '2025-02-26', '2025-02-27',
               '2025-02-28', '2025-03-01'],
              dtype='datetime64[ns]', name='Date', length=2608, freq=None)

In [4]:

start_date = pd.to_datetime("2022-01-01")
today = pd.to_datetime(date.today())
  
dff = df[(df.index >= start_date) & (df.index <= today)]

dff.columns

Index(['US10Y', 'SPX', 'CDXIG5Y', 'WTI', 'UMBS30OAS', 'd_US10Y', 'd_SPX',
       'd_CDXIG5Y', 'd_WTI', 'd_UMBS30OAS'],
      dtype='object')

In [5]:
idx = np.abs(dff['d_US10Y']).sort_values(ascending=False).index

print(idx[0:10])

dff.reindex(idx).head(10)

DatetimeIndex(['2022-11-10', '2022-09-28', '2023-03-10', '2022-06-13',
               '2024-04-10', '2022-09-22', '2023-11-14', '2023-03-17',
               '2024-08-02', '2023-03-13'],
              dtype='datetime64[ns]', name='Date', freq=None)

,US10Y,SPX,CDXIG5Y,WTI,UMBS30OAS,d_US10Y,d_SPX,d_CDXIG5Y,d_WTI,d_UMBS30OAS
Date,,,,,,,,,,
2022-11-10,3.82931,3956.37,89.9794,86.96,31.1922,-32.011,5.543447,-7.1469,0.998839,-23.9371
2022-09-28,3.70521,3719.04,112.7200,82.43,42.6078,-25.520,1.967214,-2.5550,4.157190,-3.9375
2023-03-10,3.69496,3861.59,85.5009,76.39,20.3678,-22.825,-1.447814,4.7791,1.125232,-1.5178
2022-06-13,3.36758,3749.63,102.3480,120.85,38.5417,21.008,-3.876837,6.8402,0.415455,-3.3662
2024-04-10,4.55932,5160.64,55.1534,86.98,40.3735,19.668,-0.945698,1.1013,1.033802,3.8868
2022-09-22,3.70586,3757.99,107.8990,83.88,49.6175,19.554,-0.842760,3.0400,0.239006,13.3945
2023-11-14,4.43949,4495.70,69.8629,78.82,43.2403,-18.952,1.907493,-3.8708,0.063476,-9.9649
2023-03-17,3.39268,3916.64,91.9205,66.61,30.4701,-18.815,-1.101942,2.2588,-2.259721,-5.8651
2024-08-02,3.79178,5346.56,60.9634,74.78,24.5364,-18.375,-1.838184,4.7016,-4.226434,-6.2388
2023-03-13,3.51244,3855.76,92.7675,74.68,22.2212,-18.252,-0.150974,7.2666,-2.238513,1.8534

In [ ]:
import pandas as pd

def show_dff(dff, idx=None):
    """
    Displays a DataFrame with an optional index order.

    Args:
        dff (pd.DataFrame): The DataFrame to display.
        idx (list, optional): A list of index values to order the DataFrame by. Defaults to None.

    Returns:
        pd.DataFrame: The displayed DataFrame.
    """
    if idx is not None:
        dff = dff.reindex(idx)
    return dff